:root {
  --color-blue-800: #050f27;
  --color-white-900: #fff;

  --color-service-item-text: var(--color-blue-800);
  --color-service-item-bg: var(--color-white-900);
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Satoshi"), url("./fonts/Satoshi-Light.woff2") format("woff2"),
    url("./fonts/Satoshi-Light.woff") format("woff"),
    url("./fonts/Satoshi-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Satoshi"), url("./fonts/Satoshi-Regular.woff2") format("woff2"),
    url("./fonts/Satoshi-Regular.woff") format("woff"),
    url("./fonts/Satoshi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Satoshi"), url("./fonts/Satoshi-Medium.woff") format("woff2"),
    url("./fonts/Satoshi-Medium.woff") format("woff"),
    url("./fonts/Satoshi-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Satoshi"), url("./fonts/Satoshi-Bold.woff2") format("woff2"),
    url("./fonts/Satoshi-Bold.woff") format("woff"),
    url("./fonts/Satoshi-Bold.ttf") format("truetype");
}

.page {
  box-sizing: border-box;
  max-width: 1920px;
  min-width: 1200px;

  margin: 0 auto;
  padding: 42px 60px 80px 60px;

  font-family: "Satoshi", Arial, sans-serif;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  border-radius: 128px;

  background: #f7f8f8;

  overflow: hidden;
}

.logo {
  padding: 15px 0 15px 62px;

  font: 0/0 a;
}

.menu__list {
  display: flex;
  gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__link {
  padding: 43px 15px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--color-blue-800);

  text-decoration: none;
}

.contact-us {
  position: relative;
  height: 100%;

  padding: 34px 43px 33px 27px;

  border: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: #fff;

  background: #050f27;

  cursor: pointer;
}

.contact-us::after {
  content: '';

  position: absolute;
  left: -13px;
  top: 0;

  display: block;
  box-sizing: border-box;
  width: 13px;
  height: 100%;

  border-radius: 100px 0 0 100px;

  background: #050f27e6;
}

/*craft-dwelling */

.craft-dwelling {
  display: flex;
  gap: 37px;

  margin-top: 43px;
}

.craft-dwelling__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 545px;

  border-radius: 80px 0 80px 80px;

  background-color: #f7f8f8;
}

.craft-dwelling__wrapper::after {
  content: '';

  position: absolute;
  top: 435px;

  width: calc(100% + 37px);
  height: 234px;
  background-image: url("./images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.craft-dwelling__capital {
  position: relative;

  box-sizing: border-box;

  padding: 94px 81px 132px 86px;
}

.craft-dwelling__capital::after {
  content: '';

  position: absolute;
  top: 0;
  right: -37px;

  box-sizing: border-box;
  height: 100%;
  width: 37px;

  background: #f7f8f8;
}

.craft-dwelling__introduction {
  position: relative;
  box-sizing: border-box;

  padding: 94px 81px 132px 86px;
}

.craft-dwelling__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.01em;

  overflow-wrap: anywhere;
}

.craft-dwelling__subtitle_secondary {
  font-size: 24px;
}

.craft-dwelling__title {
  margin: 0;
}

.craft-dwelling__title_primary {
  margin-top: 8px;

  font-weight: 700;
  font-size: 71px;
  line-height: 118%;
  color: #050f27;
}

.craft-dwelling__secondary {
  margin-top: 29px;

  font-weight: 500;
  font-size: 50px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #191623;
}

.craft-dwelling__description {
  font-size: 22px;
  line-height: 1.64;
  letter-spacing: -0.03em;
  color: #050f27;

  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.craft-dwelling__button {
  margin-top: 25px;
  padding: 25px 50px;

  border: none;
  border-radius: 26px;

  font-weight: 700;
  font-size: 18px;
  font-family: "Satoshi", Arial, sans-serif;
  line-height: 1.33;
  color: #fff;

  background: #050f27;
}

.title {
  margin: 0;

  font-weight: 700;
  font-size: clamp(96px, 8vw, 153px);
  line-height: 1.07;
  letter-spacing: -0.04em;
  color: #050f27;
}

.craft-dwelling__image {
  margin-top: 41px;

  border-radius: 56px;

  overflow: hidden;
}

.craft-dwelling__image_item {
  max-width: 100%;
}

.craft-dwelling__future {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 76px 68px 46px 68px;

  border-radius: 0 80px 80px 80px;

  background-color: #f7f8f8;
}

/* satisfied */

.satisfied {
  display: flex;
  gap: 46px;

  margin-top: 80px;
}

.satisfied__images {
  flex: 0 0 445px;

  border-radius: 80px;

  overflow: hidden;
}

.satisfied__images_item {
  height: 100%;
}

.satisfied__content {
  flex-shrink: 1;
  flex-grow: 1;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding: 100px 50px 258px 50px;

  border-radius: 80px;

  background-color: #f7f8f8;
}

.satisfied__content-wrapper {
  box-sizing: border-box;
  max-width: 876px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.satisfied__header {
  display: inline-block;
  align-self: flex-end;
}

.satisfied__header-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  color: #050f27;
}

.satisfied__header-title {
  margin: 0;

  font-weight: 700;
  font-size: 71px;
  line-height: 1.18;
  color: #050f27;
}

.satisfied__title {
  margin: 62px 0 0;

  font-weight: 700;
  font-size: 76px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #050f27;
}

.satisfied__description {
  margin: 49px 0 0;

  font-size: 22px;
  line-height: 1.64;
  color: #050f27;
}

.satisfied__button {
  margin-top: 74px;
  padding: 25px 73px;

  border: none;
  border-radius: 26px;

  font-weight: 700;
  font-size: 18px;
  font-family: "Satoshi", Arial, sans-serif;
  line-height: 1.33;
  color: #fff;

  background-color: #050f27;
}

/* comment */

.comment {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;

  margin-top: 80px;
  padding: 80px;

  border-radius: 80px;

  background-color: #f7f8f8;
}

.comment__title {
  box-sizing: border-box;
  max-width: calc(100% - 550px);
  min-width: 830px;

  margin: 0 0 160px 0;

  font-weight: 700;
  font-size: 132px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #050f27;
}

.comment__list {
  display: flex;
  gap: 26px;
}

.comment__item {
  box-sizing: border-box;
  flex: 0 0 524px;

  padding: 40px;

  border-radius: 44px;

  background-color: #fff;
}

.comment__value {
  margin: 0;

  font-size: 24px;
  line-height: 1.5;
  color: #2a3347;
}

.commentator {
  margin-top: 40px;

  font-weight: 500;
  font-size: 27px;
  letter-spacing: -0.03em;
  color: #000;

  text-align: end;
}

.rating {
  display: flex;
  justify-content: flex-end;
  gap: 3px;

  margin-top: 8px;
}

/* services */

.services {
  margin-top: 85px;
  padding: 80px 100px;

  border-radius: 80px;

  background-color: #f7f8f8;
}

.services__title {
  margin: 0;

  font-weight: 700;
  font-size: 132px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #050f27;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;

  margin: 80px 0 0 0;
  padding: 0;

  list-style-type: none;

  counter-reset: services;
}

.services__item {
  box-sizing: border-box;
  flex: 0 0 515px;

  padding: 40px 40px 92px 40px;

  border-radius: 40px;

  background-color: var(--color-service-item-bg);

  transition: all 0.5s;
}

.services__item::before {
  content: '0' counter(services);
  counter-increment: services;

  display: flex;
  justify-content: flex-end;

  margin-bottom: 100px;

  text-align: center;

  font-weight: 500;
  font-size: 72px;
  line-height: 1;
  color: var(--color-service-item-text);
}

.services__item-title {
  margin: 0;

  font-weight: 500;
  font-size: 72px;
  line-height: 1;
  color: var(--color-service-item-text);
}

.services__item-description {
  margin-top: 48px;

  font-size: 24px;
  line-height: 1.5;
  color: var(--color-service-item-text);
}

.services__item:hover {
  --color-service-item-text: var(--color-white-900);
  --color-service-item-bg: var(--color-blue-800);
}

/* footer  */

.footer {
  padding: 125px 65px 100px 100px;

  border-radius: 80px;

  background-color: #111b31;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer__content {
  box-sizing: border-box;
  max-width: 980px;
}

.footer__title {
  margin: 0;

  font-weight: 500;
  font-size: 175px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer__description {
  box-sizing: border-box;
  max-width: 615px;

  margin: 75px 0 0;

  font-weight: 300;
  font-size: 43px;
  line-height: 1.2;
  color: #fff;
}

.footer__contact-us {
  padding: 155px 85px;

  border: none;
  border-radius: 76px;

  font-family: "Satoshi", Arial, sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 124%;
  color: #fff;

  background-color: #ffffff0d;

  cursor: pointer;
}

.footer__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  margin-top: 220px;
  padding: 45px 90px;

  border-radius: 80px;

  background-color: #ffffff08;
}

.footer__logo {
  color: #fff;
}

.footer__menu-list {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.footer__menu-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fff;

  text-decoration: none;
}
